<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to my Rexsy Microservice App</h1>
    <a href="https://github.com/rexsybima">Contact me: https://github.com/rexsybima</a>
    <h1>endpoint features:</h1>
    <h1>1. Password Generator to access -> /password/</h1>
    <h1>2. Sentiment Analysis -> /sentiment_analysis/</h1>
    <h1>3. Fear and Greed BTc -> /fng/</h1>
    <h1>4. News API -> /newsapi/</h1>
    <h1>5. Bitcoin Getter -> /btc_getter/</h1>
  </body>
</html>
